/* STANDARD SETTINGS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  font-size: 16px;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}


a:link {
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    text-decoration-skip-ink: auto;
    color: currentColor;
}

a:link:hover,
a:link:active,
a:visited:hover {
    color: #9D8665!important;
}



/* HOVER STYLES */

.button-hover:hover {
    background: #9D8665!important;
    border: none;
}

.text-hover:hover {
    color: #9D8665!important;;
}


section,
header, footer {
    padding-left: 20px;
    padding-right: 20px;
}


/* HEADER SECTION */
header, .welcome {
    background-color: black;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%;
    max-width: 1440px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: auto;
}

.logo svg {
    width: 49px;
    height: 26px;
    flex-shrink: 0;
    margin-right: 25px;
}

.logo-text {
    color: #FFF;
    font-family: Forum;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.header-nav {
    margin: 62px 0px;
}

nav ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: clamp(25px, 2vw, 55px);
}

nav ul li {
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 2px;
}

.hamburger {
    display: none;
}


/* HERO SECTION */

.welcome h1 {
    position: absolute;
    opacity: 0;
}

.welcome-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    position: relative;
}

.hero-text-block {
    flex-shrink: 0;
    top: 150px;
    left: 0;
    z-index: 10;
    position: absolute;
}

.hero-text-block p {
    color: #FFF;
}

.hero-text-block .hero-header {
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 25px;
    cursor: default;
    transition: color 0.3s;
}

.hero-text-block p {
    color: #FFF;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
}

.hero-text-block button {
    width: 360px;
    height: 75px;
    border-radius: 10px;
    background: #710707;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    cursor: pointer;
    border: 0;
    margin-top: 75px;
    transition: background 0.3s;
}

.hero-image-block {
    width: 100%;
    max-width: 1000px;
    max-height: 750px;
    /* background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.50) 16.19%, rgba(0, 0, 0, 0.00) 30.73%);
    background-size: auto, cover;
    background-position: left top, right center;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
    margin-left: auto;
    margin-right: 0;
    position: relative;
}

.hero-image-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.50) 16.19%, rgba(0, 0, 0, 0.00) 30.73%);
}

.hero-image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

.hero-image-nav {
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 40px 75px;
    margin-top: -60px;
    background: #030303;
}

.hero-image-nav p {
    display: inline-block;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}

.hero-image-nav p span:first-of-type {
    margin-right: 5px;
}

.hero-image-nav p span:last-of-type {
    margin-left: 5px;
}

.hero-image-nav .nav-points {
    margin-left: 55px;
    margin-right: 60px;
}

.hero-image-nav .nav-points rect:hover {
    fill: #D2B183;
}

section {
    display: flex;
    justify-content: center;
}

.black-bg {
    background-color: black;
}



/* WELCOME SECTION */

.visiting-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 75px 0;
}

.visiting-container h2 {
    color: #9D8665;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.visiting-container hr {
    border: none;
    height: 3px;
    width: 100%;
    background-color: #710707;
    margin-top: 25px;
    margin-bottom: 75px;
}

.v-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 75px;
}

.visiting-container .card{
    width: 440px;
}

.visiting-container .card-image-wrapper {
    width: 100%;
    max-height: 285px;
    margin-bottom: 25px;
}

.visiting-container .card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.visiting-container h3 {
    color: #000;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.visiting-container .card hr {
    height: 2px;
    max-width: 300px;
    background-color: #710707;
    margin-top: 10px;
    margin-left: 0;
    margin-right: auto;
    transition: max-width 0.7s;
    margin-bottom: 10px;
}

.visiting-container .card:hover .card-image-wrapper ~ hr {
    max-width: 100%;
}

.visiting-container .card p:first-of-type {
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 10px;
}

.visiting-container .card p:last-of-type {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 0;
}


/* EXPLORE SECTION */
.explore {
    display: flex;
    justify-content: center;
    background: #030303;
}

.explore-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 75px 0;
}

.explore-container h2 {
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 25px;
    transition: color 0.3s;
    cursor: default;
}

.explore-container hr {
    border: none;
    height: 3px;
    background-color: #710707;
    margin-bottom: 75px;
}

.explore-container p {
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.5px;
    margin-bottom: 25px;
}

.explore-container span {
    color: #CAAA7D;
}

.explore-container .text-block {
    width: 40%;
    flex-grow: 1;
    margin-right: 60px;
}

.explore-container .image-block {
    width: 100%;
    height: 100%;
    max-width: 720px;
    max-height: 700px;
    margin-top: 15px;
}

.explore-container .before-after {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.explore-container .before-wrapper {
    background: url("assets/before.jpg") no-repeat top left;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;    
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.explore-container .handler {
    position: absolute;
    top: 0;
    left: 58%;
    z-index: 10;
}


/* VIDEO SECTION */

.v-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 75px 0;
    row-gap: 0;
}

.video .text-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video h2 {
    color: #9D8665;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.video p {
    width: 720px;
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.5px;
    margin-top: 10px;
}

.video .video-block {
    margin-top: 75px;
}

.video .video-player {
    width: 100%;
    
    position: relative;
}

.video .video-frame {
    width: 100%;
    height: 730px;
    object-fit: cover;
}

.video .video-player img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 10;
    opacity: 0.7;
    display: none;
}

.video .video-player img.img {
    display: block;
}

.video #video-controls.show {
    display: flex;
}

.video #video-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 85px    ;
    flex-wrap: nowrap;
    background: #000;
    padding: 0 30px;
}

.video .player-btn {
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.video #play-pause.play {
    background-image: url("assets/icons/play-button.svg");
}

.video #play-pause.pause {
    background-image: url("assets/icons/pause-button.svg");
}

.video #volume-btn {
    background-image: url("assets/icons/volume.svg");
}

.video #fullscreen {
    background-image: url("assets/icons/fullscreen-btn.svg");
}

.video #video-controls input[type="range"] {
    -webkit-appearance: none;
}

.video #playback {
    width: 100%;
    max-width: 930px;
    height: 7px;
    border: 0px solid #B3B3B3;
    background-color: #B3B3B3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.video #playback:hover {
    opacity: 1;
}

.video #playback::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #710707;
    cursor: pointer;
}

.video #playback::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #710707;
    cursor: pointer;
}

.video #volume {
    width: 100%;
    max-width: 160px;
    min-width: 100px;
    height: 7px;
    border: 0px solid #B3B3B3;
    background-color: #B3B3B3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.video #volume:hover {
    opacity: 1;
}

.video #volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #710707;
    cursor: pointer;
}

.video #volume::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #710707;
    cursor: pointer;
}


.video .video-block iframe {
    width: 100%;
    height: 656px;
}

.video .v-container .video-row {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
}

.video .v-container .video-row iframe {
    max-height: 254px;
    max-width: 452px;
}

.video .video-dots {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}



/* GALLERY SECTION */

.gallery .v-container {
    max-height: 2200px;
}

.gallery .v-container {
    overflow-y: hidden;
    position: relative;
}

.gallery h2 {
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 75px;
    cursor: default;
    transition: color 0.3s;
}

.g-cards {
    column-count: 3;
    column-gap: 35px;
}

.g-cards div {
    break-inside: avoid;
    margin-bottom: 24px;
}

.g-cards div:nth-of-type(1),
.g-cards div:nth-of-type(10)
{
    padding-top: 50px;
}

.gallery .shaddow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    height: 360px;
    z-index: 20;
    pointer-events: none;
}



/* TICKETS SECTION */

.tickets h2 {
    color: #9D8665;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.tickets hr {
    border: none;
    height: 3px;
    width: 100%;
    background-color: #710707;
    margin-top: 25px;
    margin-bottom: 75px;
}

.tickets .v-container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 60px;
}

.tickets .img-block {
    width: 50%;
    max-width: 720px;
    max-height: 550px;
}

.tickets .form-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 1;
}

.tickets .radio-input {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

.tickets .form-block h4 {
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}

.tickets .radio-input h4 {
    margin-bottom: 43px;
}

.tickets .number-input h4 {
    margin-bottom: 25px;
}

.tickets .form-block label {
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: normal;
}

/* ******************************************************* */
/* CUSTOM RADIO BUTTON */
.tickets .radio-input .radio-container {
    display: block;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 47px;
    padding-right: 7px;
    margin-bottom: 12px;
    margin-left: -7px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tickets .radio-input .radio-container:hover {
    background-color: #e6e6e6;
}

/* Hide the browser's default radio button */
.tickets .radio-input .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.tickets .radio-input .radio-container .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    height: 17px;
    width: 17px;
    /* background-color: #eee; */
    border-radius: 50px;
    border: solid 2px #000;
}

/* On mouse-over, add a grey background color */
.tickets .radio-input .radio-container:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.tickets .radio-input .radio-container input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.tickets .radio-input .radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.tickets .radio-input .radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.tickets .radio-input .radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: black;
}
/* ******************************************************* */



.tickets .number-input {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tickets .radio-input label {
    margin-bottom: 21px;
}

/* ******************************************************* */
/* CUSTOM NUMBER INPUT */

.tickets .number-input span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 3px black;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    padding-left: 0;
    padding-right: 10px;
}

.tickets .number-input .value-control {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background: transparent;
    border: none;
    color: #3b3b3b;
    cursor: pointer;
}

.tickets .number-input .value-control {
    font-size: 32px;
    font-family: Roboto;
    line-height: 0em;
    font-weight: 400;
}

.tickets .number-input .value-input {
    margin-left: 5px;
    border: none;
    padding: 2px 8px;
    text-align: center;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 300;
}

.tickets .number-input input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.tickets .number-input input[type=number]::-webkit-inner-spin-button, 
.tickets .number-input input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.tickets .number-input div:nth-of-type(2) {
    padding-top: 10px;
}

/* ******************************************************* */


.tickets .number-input .total {
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.65px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.tickets .number-input button {
    width: 175px;
    height: 50px;
    border-radius: 2px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    transition: background 0.3s;
    cursor: pointer;
}




/* PARALAX */

.paralax {
    background-image: url("assets/parallax.jpg");
    min-height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* SECTION CONTACTS */

.contacts h2 {
    color: #9D8665;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.contacts hr {
    border: none;
    height: 3px;
    width: 100%;
    background-color: #710707;
    margin-top: 25px;
    margin-bottom: 75px;
}

.contacts h4 {
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 48px;
}

.contacts h4 span {
    display: block;
}

.contacts p {
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 18px;
}

.contacts .v-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts .map-block {
    max-width: 960px;
    max-height: 620px;
}

.contacts img {
    width: 100%;
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #030303;
    padding-top: 86px;
}

footer .h-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
}

.footer-logo {
    min-width: fit-content;
}

footer .footer-logo svg,
footer .footer-logo .logo-text {
    display: inline;
}

footer .footer-logo .logo-text {
    margin-left: 20px;
}

.footer-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .footer-menu {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 140px;
}

footer .footer-menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 2px;
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: 128px;
}

footer .footer-menu ul li a {
    display: block;
}

footer .footer-menu ul li:nth-of-type(5),
footer .footer-menu ul li:last-of-type {
    margin-bottom: 0;
}

footer .social {
    margin-top: auto;
}

footer .social ul{
    display: flex;
    width: 340px;
    margin-bottom: 5px;
}

footer .social ul {
    list-style: none;
    width: 100%;
}

footer .social ul .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 50px;
    transition: all 0.4s;
    /* transition: box-shadow 0.4s ease; */
}

footer .social ul .icon:hover {
    border-color: #9D8665;
    box-shadow: 0 0 0 1px #9D8665;
}

footer .social ul .icon .icon-mask {
    width: 24px;
    height: 24px;
    background-color: #fff;
    -webkit-mask-size: contain;
    mask-size: contain;
}

footer .social ul .icon:hover .icon-mask {
    background-color: #9D8665;
}

footer .social ul .icon .yt {
    -webkit-mask: url("assets/icons/youtube.svg") no-repeat center;
    mask: url("assets/icons/youtube.svg") no-repeat center;
}

footer .social ul .icon .insta {
    -webkit-mask: url("assets/icons/insta.svg") no-repeat center;
    mask: url("assets/icons/insta.svg") no-repeat center;
}

footer .social ul .icon .fb {
    -webkit-mask: url("assets/icons/fb.svg") no-repeat center;
    mask: url("assets/icons/fb.svg") no-repeat center;
}

footer .social ul .icon .tw {
    -webkit-mask: url("assets/icons/twitter.svg") no-repeat center;
    mask: url("assets/icons/twitter.svg") no-repeat center;
}

footer .social ul .icon .pt {
    -webkit-mask: url("assets/icons/pinterest.svg") no-repeat center;
    mask: url("assets/icons/pinterest.svg") no-repeat center;
}

footer .social li a {
    line-height: 0;
    display: block;
}

footer .social ul li:not(:last-of-type) {
    margin-right: 25px;
}

footer hr {
    border: none;
    height: 3px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    margin: 50px 0;
}

footer .copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin-bottom: 52px;
}

footer .copyright p {
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 2px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1480px){
    
    .container h2 {
        font-size: clamp(60px, calc(50px + 30 * (100vw - 1024px) / 456), 80px);
        line-height: 70px;
    }

    .container p {
        font-size: 20px;
        margin-bottom: 15px;
    }

    section hr:first-of-type {
        margin-bottom: 60px;
    }

    .hero-image-block {
        max-width: 67%;
        max-height: 650px;
        background-position: left top, top left;
    }

    .v-cards {
        justify-content: space-around;
    }

    .visiting-container .card {
        max-width: 440px;
        min-width: 360px;
        width: 30%;
    }

    .explore-container .image-block {
        width: 50%;
    }

    .explore-container .text-block {
        margin-right: 50px;
    }

    .v-container .video-block {
        margin-top: 40px;
    }

    .v-container h2 {
        min-width: 50%;
    }

    .video-player .video-frame {
        height: clamp(504px, calc(504px + 226 * (100vw - 1024px) / 456), 730px);
    }

    .video #video-controls {
        height: 70px;
        padding: 0 40px;
        flex-wrap: nowrap;
        column-gap: 30px;
    }

    .video .player-btn {
        width: 23px;
        height: 30px;
    }

    .video #playback {
        max-width: 1044px;
    }

    .video #playback,
    .video #volume {
        max-height: 5px;
    }

    .video #volume-btn {
        height: 20px;
        width: 27px;
    }

    .video #volume {
        max-width: 143px;
    }

    .video #fullscreen {
        width: 25px;
        height: 20px;
    }

    .video .v-container .video-row {
        column-gap: 40px;
    }

    .video .video-dots {
        max-height: 12px;
    }
}


@media screen and (max-width: 1024px){
    .hamburger {
        display: block;
    }

    section .container {
        margin: 0;
        padding: 60px 0;
    }

    section .container h2 {
        font-size: 50px;
        line-height: 75px;
        margin-bottom: 0;
    }

    section hr:first-of-type {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .welcome-container,
    .explore-container,
    .v-container,
    .visiting-container,
    .copyright {
        max-width: 1024px;
        width: 100%;
    }

    header {
        width: 100%;
        position: relative;
    }

    .header-container {
        padding: 0 20px;
        height: 130px;
    }   

    .header-nav {
        position: absolute;
        top: 130px;
        left: 0;
        bottom: 0;
        height: calc(100vh - 120px);
        width: 100%;
        max-width: 300px;
        margin: 0;
        padding-left: 55px;
        background: #030303;
        overflow-y: auto;
        transform: translateX(-320px);
        opacity: 0;
        z-index: 100;
    }

    .header-nav > ul {
        display: flex;
        flex-direction: column;
        padding: 35px 0;
        width: 100%;
        max-width: 125px;
        gap: 25px;
    }

    .header-nav li {
        position: relative;
        padding-right: 24px;
        font-size: 20px;
    }

    .header-nav li::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        width: 14px;
        height: 14px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("assets/icons/menu-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hero-text-block {
        top: 50px;
    }

    .hero-text-block .hero-header {
        font-size: 50px;
    }

    .hero-text-block p {
        font-size: 24px;
    }

    .hero-text-block button {
        max-width: 300px;
        max-height: 60px;
        font-size: 20px;
        margin-top: 50px;
    }

    .hero-image-block {
        max-width: 700px;
        max-height: 525px;
    }

    .hero-image-nav p {
        font-size: 20px;
        line-height: 1rem;
    }

    .hero-image-nav {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 200px;
        padding-right: 75px;
    }

    .hero-image-nav .nav-points {
        height: 12px;
        margin: 0 45px;
    }

    .visiting-container .v-cards {
        justify-content: space-evenly;
        row-gap: 60px;
    }

    .visiting-container .card {
        width: 100%;
        max-width: 330px;
        min-width: 300px;
    }

    .visiting-container .card h3 {
        font-size: 28px;
        letter-spacing: 3px;
    }

    .visiting-container .card hr {
        max-width: 150px;
    }

    .visiting-container .card:hover hr {
        max-width: 100%;
    }

    .visiting-container .card p:first-of-type {
        font-size: 20px;
    }

    .visiting-container .card p:last-of-type {
        font-size: 16px;
    }

    .explore-container {
        flex-direction: column;
    }

    .explore-container .text-block {
        width: 100%;
    }

    .explore-container p {
        font-size: 20px;
        margin-bottom: 0;
    }

    .explore-container p:last-of-type {
        display: none;
    }

    .explore-container .image-block {
        width: 100%;
        max-width: 720px;
        max-height: 700px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }


    .v-container .text-block p {
        display: none;
    }

    .v-container .video-block {
        margin-top: 40px;
    }

    .video-player {
        max-width: 984px;
        max-height: 504px;
    }

    .video-player img.img {
        max-width: 152px;
        max-height: 152px;
    }

    .video-player .video-frame {
        height: 504px;
    }

    .video #video-controls {
        height: 60px;
        padding: 0 40px;
        bottom: 0;
    }

    .video .player-btn {
        width: 23px;
        height: 30px;
    }

    .video #playback {
        max-width: 565px;
    }

    .video #playback,
    .video #volume {
        max-height: 5px;
    }

    .video #volume-btn {
        height: 20px;
        width: 27px;
    }

    .video #volume {
        max-width: 143px;
    }

    .video #fullscreen {
        width: 25px;
        height: 20px;
    }

    .video .v-container .video-row iframe {
        width: calc((100% - 60px) / 3);
        height: auto;
        max-width: 300px;
        max-height: 170px;
    }

    .video .video-dots {
        max-height: 12px;
    }


    /* GALLERY SECTION */
    .gallery {
        max-height: 1460px;
    }

    .gallery h2 {
        margin-bottom: 60px;
    }

    .gallery .g-cards {
        height: 1450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 36px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 60px;
    }

    .g-cards div {
        max-width: calc((100% - 72px) / 3);
    }


    .g-cards div:nth-child(1),
    .g-cards div:nth-child(13) {
        padding-top: 25px;
    }

    .g-cards div:nth-child(1) {
        order: 1;
    }
    .g-cards div:nth-child(2) {
        order: 2;
    }
    .g-cards div:nth-child(3) {
        order: 10;
    }
    .g-cards div:nth-child(4) {
        order: 11;
    }
    .g-cards div:nth-child(5) {
        order: 4;
    }
    .g-cards div:nth-child(6) {
        order: 12;
    }
    .g-cards div:nth-child(7) {
        order: 5;
    }
    .g-cards div:nth-child(8) {
        order: 6;
    }
    .g-cards div:nth-child(9) {
        display: none;
    }
    .g-cards div:nth-child(10) {
        display: none;
    }
    .g-cards div:nth-child(11) {
        order: 3;
    }
    .g-cards div:nth-child(12) {
        order: 9;
    }
    .g-cards div:nth-child(13) {
        order: 7;
    }
    .g-cards div:nth-child(14) {
        order: 8;
    }
    .g-cards div:nth-child(15) {
        display: none;
    }

    
    /* TICKETS SECTION */

    .tickets hr {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .tickets .img-block {
        width: 100%;
        max-width: 700px;
        max-height: 440px;
    }

    .tickets img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tickets .radio-input {
        display: none;
    }

    .tickets .number-input {
        align-items: start;
    }


    /* CONTACTS SECTION */

    .contacts .map-block {
        height: 100%;
        width: 100%;
        max-width: 660px;
        max-height: 594px;
    }

    .contacts img {
        width: 100%;
    }

    .contacts .text-block h4 {
        font-size: 24px;
        margin-bottom: 35px;
    }

    .contacts .text-block p {
        display: block;
        font-size: 20px;
        margin-bottom: 15px;
    }


    /* FOOTER SECTION */

    footer {
        padding-top: 60px;
    }

    footer .footer-menu {
        margin-left: 45px;
        max-width: 315px;
    }

    .footer-right {
        flex-wrap: wrap;
    }

    footer .copyright {
        padding: 0 20px;
    }
}



@media screen and (max-width: 978px) {

    .footer-right {
        margin-left: 15%;
    }

    footer .social {
        margin-top: 40px;
    }

    footer .footer-menu,
    .social ul {
        margin: 0;
        padding: 0;
    }

    footer .footer-menu ul {
        align-content: space-between;
    }

    footer .footer-menu {
        max-width: 340px;
    }

    footer hr {
        margin: 40px 0;
    }

    footer .copyright {
        margin-bottom: 40px;
    }
}




@media screen and (max-width: 768px) {
    .header-container {
        height: 110px;
    }

    .welcome-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .hero-text-block {
        position: relative;
        text-align: center;
        top: 0;
        margin-bottom: 50px;
    }

    .hero-text-block .hero-header {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 25px;
    }

    .hero-text-block p {
        font-size: 20px;
    }

    .hero-text-block button {
        display: none;
    }

    .hero-image-block {
        margin: 0;
        max-width: 728px;
        max-height: none;
    }

    .hero-image-block::before {
        display: none;
    }

    .hero-image-nav {
        padding: 40px 0;
        width: 100%;
        margin-top: 0;
        justify-content: center;
    }

    section .container {
        padding: 40px 0;
    }

    section .container h2 {
        font-size: 40px;
        line-height: 60px;
    }

    section hr:first-of-type {
        margin-bottom: 40px;
    }
    
    .visiting-container .v-cards {
        justify-content: space-evenly;
        row-gap: 40px;
    }

    .visiting-container .card {
        width: 100%;
        max-width: 280px;
        min-width: 0;
    }

    .visiting-container .card h3 {
        font-size: 22px;
    }

    .visiting-container .card hr {
        max-width: 150px;
    }

    .visiting-container .card p:first-of-type {
        font-size: 18px;
    }

    .explore-container p {
        display: none;
    }

    .explore-container .image-block {
        margin: 0;
    }

    .video .video-player {
        line-height: 1em;
    }

    .v-container .video-block {
        margin-top: 20px;
    }

    .video-player .video-frame {
        max-height: 329px;
        height: 100%;
    }

    .video #video-controls {
        position: relative;
        margin-top: -3px;
        max-height: 53px;
        padding: 0 30px;
    }

    .video #volume {
        display: none;
    }

    .video #play-pause {
        order: 0;
    }

    .video #volume-btn {
        order: 1;
    }

    .video #playback,
    .video #fullscreen {
        order: 2;
    }

    .video .v-container .video-row {
        margin-top: 20px;
        column-gap: unset;
    }

    .video .v-container .video-row iframe {
        max-width: 354px;
        width: calc((100% - 20px) / 2);
    }

    .video .v-container .video-row iframe:nth-child(3) {
        display: none;
    }

    .video .video-dots {
        margin-top: 20px;
    }

    .gallery .g-cards {
        margin-top: 40px;
    }

    .g-cards div {
        max-width: calc((100% - 25px) / 2);
    }

    .gallery {
        max-height: 1220px;
    }

    .tickets .img-block {
        max-width: 444px;
        max-height: 340px;
    }

    .paralax {
        max-height: 300px;
    }

    .contacts .v-container > div {
        flex-direction: column;
    }

    .contacts .text-block h4 {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .contacts .text-block p {
        font-size: 18px;
    }

    .contacts .text-block p:last-of-type {
        margin-bottom: 40px;
    }

    .contacts .map-block {
        max-width: unset;
        max-height: unset;
    }

    footer .container {
        padding: 0;
        /* justify-content: space-between; */
    }

    footer {
        padding-top: 40px;
    }

    footer .footer-menu ul li {
        font-size: 18px;
    }

    .footer-right {
        margin-left: 15%;
        max-width: 340px;
    }

    footer .footer-menu,
    .social ul {
        margin: 0;
        padding: 0;
    }

    footer hr {
        margin: 40px 0;
    }

    footer .copyright {
        margin-bottom: 40px;
    }
}



@media screen and (max-width: 678px) {

    .video .v-container .video-row iframe{
        height: auto;
    }
    .tickets .v-container > div {
        flex-direction: column;
        align-items: center;
    }

    .tickets .img-block {
        max-width: unset;
        margin-bottom: 40px;
    }

    .tickets .form-block {
        max-width: 175px;
    }

    .tickets .number-input {
        align-items: center;
        width: 100%;
    }

    .tickets .number-input div {
        width: 100%;
    }

    .tickets .number-input span {
        width: 100%;
        max-width: 175px;
    }
    
    footer .h-container {
        flex-direction: column;
    }

    .footer-right {
        margin-top: 40px;
        margin-left: 0;
        max-width: unset;
    }

    footer .footer-menu {
        max-width: unset;
        width: 100%;
    }

    footer .footer-menu ul {
        row-gap: 28px;
        height: 70px;
    }

    footer .social {
        margin-left: auto;
        margin-right: auto;
    }

    footer .social ul li:not(:last-of-type) {
        margin-right: 5px;
    }

    footer .copyright p {
        font-size: 16px;
    }
}


@media screen and (max-width: 570px){
    footer .copyright p:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 460px){
    .header-container {
        height: 90px;
    }
    
    .logo svg {
        width: 30px;
        height: 16px;
    }

    .logo-text {
        font-size: 16px;
    }

    .hero-text-block .hero-header {
        margin-top: 5px;
        font-size: 28px;
        line-height: 40px;
    }

    .hero-image-nav {
        padding: 0;
        height: 80px;
    }

    .hero-text-block p,
    .hero-image-nav p,
    .visiting-container .card p:first-of-type,
    .visiting-container .card p:last-of-type {
        font-size: 16px;
    }

    .hero-image-nav .nav-points {
        height: 7px;
        margin: 0 25px;
        width: auto;
    }

    .arrows {
        height: 8px;
    }

    section .container h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .visiting-container .card h3 {
        font-size: 18px;
        letter-spacing: 5px;
    }

    .explore-container .handler {
        width: 25px;
        height: auto;
    }
    
}